    <ons-navigator var="app.navigator">
        <ons-page on-device-backbutton="app.navigator.popPage()" ng-controller="usuarioCtrl">

            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
                </div>
                <div class="center">
                    {{getTituloMenu()}}
                </div>            
            </ons-toolbar>

            <div style="text-align: center" class="content-padded">
                <span ng-controller="usuarioCtrl">

                    <ons-row class="row ons-row-inner" style="margin-left: 10px;padding-right: 10px;">
                        <ons-col class="col ons-col-inner">
                            <todays-weather
                                location=""
                                custom-size="100"
                                units="metric"
                                use-google-images="true">
                            </todays-weather>
                        </ons-col>
                        <ons-col class="col ons-col-inner" style="margin-left: 10px;">
                            <ons-list class="plan-list">
                                <ons-list-item modifier="chevron" class="plan" ng-repeat="noti in noticias" ng-click="abrirNoticia(noti.link)">
                                    <ons-row>
                                        <ons-col width="80px" class="plan-left">
                                            <div class="plan-date">
                                                <span>{{formatDate(noti.pubDate) | date:'h:mm a'}}</span>
                                            </div>
                                        </ons-col>

                                        <ons-col width="6px" class="plan-center" ng-style="{backgroundColor: '#3399ff'}">
                                        </ons-col>

                                        <ons-col class="plan-right">
                                            <div class="plan-name"></div>

                                            <div class="plan-info">
                                                {{noti.title.__cdata}}
                                            </div>
                                        </ons-col>
                                    </ons-row>
                                </ons-list-item>

                            </ons-list>
                        </ons-col>
                    </ons-row>
                    <ons-row class="row ons-row-inner" style="margin-left: 10px;padding-right: 10px;">
                        <ons-col class="col ons-col-inner">
                            <div style="text-align: center;margin-top: 10px;margin-bottom: 10px; color: #9c9c9c">
                                Desarrollado por <a href="http://www.agura.com.ar" target="blank">Agura Ing.</a>
                            </div>
                        </ons-col>
                    </ons-row>

                    <ons-button modifier="large" ng-hide="isLogueado()"
                                ng-click="app.navigator.pushPage('login.html')"
                                style="width: 100%; margin-top: 10px;margin-bottom: 10px;">
                        <ons-icon icon="ion-log-in"></ons-icon>
                        Login
                    </ons-button>

                </span>
            </div>
        </ons-page>
    </ons-navigator>



<ons-template id="login.html">
    <ons-page on-device-backbutton="app.navigator.popPage()" >

        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
            </div>
            <div class="center">Login Braulito App</div>
        </ons-toolbar>



        <div class="login-form content-padded" ng-controller="usuarioCtrl">
            <form name="frmLogin" novalidate>
                <input type="text" class="text-input--underbar"
                       name="login"  placeholder="Usuario" 
                       ng-model="usuario.login" required style="width: 100%;">

                <input type="password" class="text-input--underbar" 
                       name="password" placeholder="Password" 
                       ng-model="usuario.password" required>
                <br><br>
                <ons-button modifier="large" class="login-button" 
                            ng-click="validarLogin(usuario.login, usuario.password)"
                            ng-disabled="!frmLogin.$valid"
                            >
                    Ingresar
                </ons-button>
            </form>
        </div>

    </ons-page>
</ons-template>


<ons-template id="clientes.html">
    <ons-page on-device-backbutton="app.navigator.popPage()" ng-controller="clienteCtrl">
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
            </div>
            <div class="center">Clientes</div>
            <div class="right">
                <ons-toolbar-button ng-click="clientes()">
                    <ons-icon icon="ion-loop" 
                              fixed-width="false" 
                              style="vertical-align: -4px;">

                    </ons-icon>
                </ons-toolbar-button>
                <ons-toolbar-button ng-click="promptBuscar()">
                    <ons-icon icon="ion-search" 
                              fixed-width="false" 
                              style="vertical-align: -4px;">

                    </ons-icon>
                </ons-toolbar-button>
                <ons-toolbar-button ng-click="adelanteEdicion()">
                    <ons-icon icon="ion-plus-round" 
                              fixed-width="false" 
                              style="vertical-align: -4px;">

                    </ons-icon>
                </ons-toolbar-button>
            </div>            
        </ons-toolbar>

        <ons-list>

            <ons-list-item modifier="chevron" class="list-item-container"
                           ng-repeat="cliente in getClientes()"
                           ng-click="editarVer($index)"
                           >
                <ons-row>
                    <ons-col>
                        <div class="name">
                            {{cliente.cliente}}
                        </div>
                        <div class="location">
                            <i class="fa fa-map-marker"></i> {{cliente.domicilio}}
                            <div style="margin-top: 5px;">
                                Cel: {{cliente.celular}}
                            </div>
                            <div style="margin-top: 5px;">
                                Tel: {{cliente.telefono}}
                            </div>
                        </div>
                        <div class="desc">
                            <span class="labelito labelito-{{(cliente.idTipoCliente.tipo === 'Bueno') ? 'success' : (cliente.idTipoCliente.tipo === 'Reg') ? 'warning' : 'danger'}}"> {{cliente.idTipoCliente.tipo}}</span>
                        </div>
                    </ons-col>
                    <ons-col width="40px">

                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>

    </ons-page>
</ons-template>


<ons-template id="clientesAM.html">
    <ons-page on-device-backbutton="app.navigator.popPage()" ng-controller="clienteCtrl">
        <form name="frmClienteAM" novalidate>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="atrasEdicion()">
                        <ons-icon icon="ion-arrow-left-c" style="font-size: 28px;" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">Cliente {{getClienteSeleccionado().cliente}}</div>
                <div class="right">
                    <ons-toolbar-button ng-click="validarEdicion()"
                                        ng-show="frmClienteAM.$valid">
                        <ons-icon icon="ion-checkmark-round" 
                                  fixed-width="false" 
                                  style="vertical-align: -4px;">

                        </ons-icon>
                    </ons-toolbar-button>
                    <ons-toolbar-button ng-show="!frmClienteAM.$valid"
                                        ng-disabled="!frmClienteAM.$valid">
                        <ons-icon icon="ion-checkmark-round" 
                                  fixed-width="false" 
                                  style="vertical-align: -4px;">

                        </ons-icon>
                    </ons-toolbar-button>
                    <ons-toolbar-button ng-click="eliminar()"
                                        ng-show="{{getClienteSeleccionado().idCliente !== 0}}">
                        <ons-icon icon="ion-trash-a" 
                                  fixed-width="false" 
                                  style="vertical-align: -4px;">

                        </ons-icon>
                    </ons-toolbar-button>
                </div>

            </ons-toolbar>

            <ons-list modifier="inset" style="margin-top: 10px">
                <ons-list-item>
                    <input type="text" class="text-input text-input--transparent" style="width: 100%" 
                           placeholder="Nombre cliente" ng-model="getClienteSeleccionado().cliente"
                           required name="nombre" ng-minlength="1" ng-maxlength="100"
                           maxlength="100" 
                           />
                    <div ng-show="frmClienteAM.nombre.$error.maxlength || frmClienteAM.nombre.$error.minlength" style="font-size: small">
                        <i style="color: #ff3333" class="ion-information-circled text-danger"></i> 
                        El nombre del cliente debe tener entre 1 y 100 letras
                    </div>
                </ons-list-item>

                <ons-list-item>
                    <input type="text" class="text-input text-input--transparent" 
                           placeholder="Celular" ng-model="getClienteSeleccionado().celular"
                           name="celular" ng-minlength="1" ng-maxlength="13"
                           maxlength="13"
                           />
                    <div ng-show="frmClienteAM.celular.$error.maxlength || frmClienteAM.celular.$error.minlength" style="font-size: small">
                        <i style="color: #ff3333" class="ion-information-circled text-danger"></i> 
                        El celular debe tener entre 1 y 13 digitos
                    </div>
                </ons-list-item>

                <ons-list-item>
                    <input type="text" class="text-input text-input--transparent" 
                           placeholder="Telefono" ng-model="getClienteSeleccionado().telefono"
                           name="telefono" ng-minlength="1" ng-maxlength="13"
                           maxlength="13"
                           />
                    <div ng-show="frmClienteAM.celular.$error.maxlength || frmClienteAM.celular.$error.minlength" style="font-size: small">
                        <i style="color: #ff3333" class="ion-information-circled text-danger"></i> 
                        El telefono debe tener entre 1 y 13 digitos
                    </div>
                </ons-list-item>

                <ons-list-item>
                    <input type="text" class="text-input text-input--transparent" style="width: 100%"  
                           placeholder="Domicilio" ng-model="getClienteSeleccionado().domicilio"
                           required name="domicilio" ng-minlength="1" ng-maxlength="250"
                           maxlength="250"
                           />
                </ons-list-item>

                <ons-list-item modifier="chevron" ng-click="tiposCliente()">
                    <ons-icon icon="fa ion-thermometer fa-lg" style="font-size: 14px;">&nbsp;Tipo</ons-icon>
                    <span class="list-item-note lucent">{{getClienteSeleccionado() === '' ? (getTipoClienteSeleccionado() === '' ? 'Ninguno' : getTipoClienteSeleccionado().tipo) : getClienteSeleccionado().idTipoCliente.tipo}}</span>
                </ons-list-item>


            </ons-list>


            <ons-dialog cancelable="true" var="dialogFiltroTC">
                <ons-list>
                    <ons-list-item modifier="tappable" ng-repeat="tc in getTiposCliente()" ng-click="setTipoClienteSeleccionado($index)">
                        {{tc.tipo}}
                    </ons-list-item>
                </ons-list>
            </ons-dialog>

        </form>
    </ons-page>
</ons-template>


<ons-template id="proveedores.html">
    <ons-page on-device-backbutton="app.navigator.popPage()" ng-controller="proveedorCtrl">
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
            </div>
            <div class="center">Proveedores</div>
            <div class="right">
                <ons-toolbar-button ng-click="proveedores()">
                    <ons-icon icon="ion-loop" 
                              fixed-width="false" 
                              style="vertical-align: -4px;">

                    </ons-icon>
                </ons-toolbar-button>
                <ons-toolbar-button ng-click="promptBuscar()">
                    <ons-icon icon="ion-search" 
                              fixed-width="false" 
                              style="vertical-align: -4px;">

                    </ons-icon>
                </ons-toolbar-button>
                <ons-toolbar-button ng-click="adelanteEdicion()">
                    <ons-icon icon="ion-plus-round" 
                              fixed-width="false" 
                              style="vertical-align: -4px;">

                    </ons-icon>
                </ons-toolbar-button>
            </div>            
        </ons-toolbar>

        <ons-list>

            <ons-list-item modifier="chevron" class="list-item-container"
                           ng-repeat="proveedor in getProveedores()"
                           ng-click="editarVer($index)"
                           >
                <ons-row>
                    <ons-col>
                        <div class="name">
                            {{proveedor.proveedor}}
                        </div>
                        <div class="location">
                            <i class="fa fa-map-marker"></i> {{proveedor.domicilio}}
                            <div style="margin-top: 5px;">
                                Tel: {{proveedor.telefono}}
                            </div>
                        </div>
                    </ons-col>
                    <ons-col width="40px">

                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>

    </ons-page>
</ons-template>

<ons-template id="proveedoresAM.html">
    <ons-page on-device-backbutton="app.navigator.popPage()" ng-controller="proveedorCtrl">
        <form name="frmProveedorAM" novalidate>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="atrasEdicion()">
                        <ons-icon icon="ion-arrow-left-c" style="font-size: 28px;" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">Proveedor {{getProveedorSeleccionado().proveedor}}</div>
                <div class="right">
                    <ons-toolbar-button ng-click="validarEdicion()"
                                        ng-show="frmProveedorAM.$valid">
                        <ons-icon icon="ion-checkmark-round" 
                                  fixed-width="false" 
                                  style="vertical-align: -4px;">

                        </ons-icon>
                    </ons-toolbar-button>
                    <ons-toolbar-button ng-show="!frmProveedorAM.$valid"
                                        ng-disabled="!frmProveedorAM.$valid">
                        <ons-icon icon="ion-checkmark-round" 
                                  fixed-width="false" 
                                  style="vertical-align: -4px;">

                        </ons-icon>
                    </ons-toolbar-button>
                    <ons-toolbar-button ng-click="eliminar()"
                                        ng-show="{{getProveedorSeleccionado().idProveedor !== 0}}">
                        <ons-icon icon="ion-trash-a" 
                                  fixed-width="false" 
                                  style="vertical-align: -4px;">

                        </ons-icon>
                    </ons-toolbar-button>
                </div>

            </ons-toolbar>

            <ons-list modifier="inset" style="margin-top: 10px">
                <ons-list-item>
                    <input type="text" class="text-input text-input--transparent" style="width: 100%" 
                           placeholder="Nombre proveedor" ng-model="getProveedorSeleccionado().proveedor"
                           required name="nombre" ng-minlength="1" ng-maxlength="45"
                           maxlength="45" 
                           />
                    <div ng-show="frmProveedorAM.nombre.$error.maxlength || frmProveedorAM.nombre.$error.minlength" style="font-size: small">
                        <i style="color: #ff3333" class="ion-information-circled text-danger"></i> 
                        El nombre del proveedor debe tener entre 1 y 45 letras
                    </div>
                </ons-list-item>

                <ons-list-item>
                    <input type="text" class="text-input text-input--transparent" 
                           placeholder="Telefono" ng-model="getProveedorSeleccionado().telefono"
                           name="telefono" ng-minlength="1" ng-maxlength="13"
                           maxlength="13"
                           />
                    <div ng-show="frmProveedorAM.telefono.$error.maxlength || frmProveedorAM.telefono.$error.minlength" style="font-size: small">
                        <i style="color: #ff3333" class="ion-information-circled text-danger"></i> 
                        El telefono debe tener entre 1 y 13 digitos
                    </div>
                </ons-list-item>

                <ons-list-item>
                    <input type="text" class="text-input text-input--transparent" style="width: 100%"  
                           placeholder="Domicilio" ng-model="getProveedorSeleccionado().domicilio"
                           required name="domicilio" ng-minlength="1" ng-maxlength="250"
                           maxlength="250"
                           />
                </ons-list-item>

            </ons-list>

        </form>
    </ons-page>
</ons-template>

<ons-template id="productos.html">
    <ons-page on-device-backbutton="app.navigator.popPage()" ng-controller="productoCtrl">
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
            </div>
            <div class="center">Productos</div>
            <div class="right">
                <ons-toolbar-button ng-click="productos()">
                    <ons-icon icon="ion-loop" 
                              fixed-width="false" 
                              style="vertical-align: -4px;">

                    </ons-icon>
                </ons-toolbar-button>
                <ons-toolbar-button ng-click="promptBuscar()">
                    <ons-icon icon="ion-search" 
                              fixed-width="false" 
                              style="vertical-align: -4px;">

                    </ons-icon>
                </ons-toolbar-button>
                <ons-toolbar-button ng-click="adelanteEdicion()">
                    <ons-icon icon="ion-plus-round" 
                              fixed-width="false" 
                              style="vertical-align: -4px;">

                    </ons-icon>
                </ons-toolbar-button>
            </div>            
        </ons-toolbar>

        <ons-list>

            <ons-list-item modifier="chevron" class="list-item-container"
                           ng-repeat="prod in getProductos()"
                           ng-click="editarVer($index)"
                           >
                <ons-row>
                    <ons-col>
                        <div class="name">
                            {{prod.producto}}
                        </div>
                        <div class="location">
                            <i class="fa fa-usd"></i> {{prod.precio}}
                            <div style="margin-top: 5px;">
                                Cod.: {{prod.codigo}}
                            </div>
                            <div style="margin-top: 5px;">
                                Vto.: {{prod.fechaVencimiento| date:'dd-MM-yyyy'}}
                            </div>
                        </div>
                    </ons-col>
                    <ons-col width="40px">

                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>

    </ons-page>
</ons-template>


<ons-template id="productosAM.html">
    <ons-page on-device-backbutton="app.navigator.popPage()" ng-controller="productoCtrl">
        <form name="frmProductoAM" novalidate>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="atrasEdicion()">
                        <ons-icon icon="ion-arrow-left-c" style="font-size: 28px;" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">Producto</div>
                <div class="right">
                    <ons-toolbar-button ng-click="validarEdicion()"
                                        ng-show="frmProductoAM.$valid">
                        <ons-icon icon="ion-checkmark-round" 
                                  fixed-width="false" 
                                  style="vertical-align: -4px;">

                        </ons-icon>
                    </ons-toolbar-button>
                    <ons-toolbar-button ng-show="!frmProductoAM.$valid"
                                        ng-disabled="!frmProductoAM.$valid">
                        <ons-icon icon="ion-checkmark-round" 
                                  fixed-width="false" 
                                  style="vertical-align: -4px;">

                        </ons-icon>
                    </ons-toolbar-button>
                    <ons-toolbar-button ng-click="eliminar()"
                                        ng-show="{{getProductoSeleccionado().idProducto !== 0}}">
                        <ons-icon icon="ion-trash-a" 
                                  fixed-width="false" 
                                  style="vertical-align: -4px;">

                        </ons-icon>
                    </ons-toolbar-button>
                </div>

            </ons-toolbar>

            <ons-list modifier="inset" style="margin-top: 10px">
                <ons-list-item>
                    <input type="text" class="text-input text-input--transparent" style="width: 100%" 
                           placeholder="Nombre producto" ng-model="getProductoSeleccionado().producto"
                           required name="nombre" ng-minlength="1" ng-maxlength="150"
                           maxlength="45" 
                           />
                    <div ng-show="frmProductoAM.nombre.$error.maxlength || frmProductoAM.nombre.$error.minlength" style="font-size: small">
                        <i style="color: #ff3333" class="ion-information-circled text-danger"></i> 
                        El nombre del producto debe tener entre 1 y 150 letras
                    </div>
                </ons-list-item>

                <ons-list-item>
                    <input type="text" class="text-input text-input--transparent" 
                           placeholder="Precio" ng-model="getProductoSeleccionado().precio"
                           name="precio" ng-minlength="1" ng-maxlength="12"
                           maxlength="12"
                           />
                    <div ng-show="frmProductoAM.precio.$error.maxlength || frmProductoAM.precio.$error.minlength" style="font-size: small">
                        <i style="color: #ff3333" class="ion-information-circled text-danger"></i> 
                        El precio debe tener entre 1 y 12 digitos
                    </div>
                </ons-list-item>

                <ons-list-item>
                    <input type="text" class="text-input text-input--transparent" style="width: 100%"  
                           placeholder="Codigo" ng-model="getProductoSeleccionado().codigo"
                           name="codigo" ng-minlength="1" ng-maxlength="45"
                           maxlength="45"
                           />
                </ons-list-item>

                <ons-list-item>
                    <input type="date" class="text-input text-input--transparent" style="width: 100%"  
                           placeholder="dd-MM-yyyy" ng-model="getProductoSeleccionado().fechaVencimiento"
                           name="vto"/>
                </ons-list-item>

                <ons-list-item>
                    <input type="number" class="text-input text-input--transparent" required
                           placeholder="Cantidad" ng-model="getProductoSeleccionado().stockCollection[getProductoSeleccionado().stockCollection.length - 1].cantidad"
                           name="cantidad" ng-minlength="1" ng-maxlength="5"
                           maxlength="5"
                           />
                    <div ng-show="frmProductoAM.cantidad.$error.maxlength || frmProductoAM.cantidad.$error.minlength" style="font-size: small">
                        <i style="color: #ff3333" class="ion-information-circled text-danger"></i> 
                        La cantidad debe tener entre 1 y 5 digitos
                    </div>
                </ons-list-item>

                <ons-list-item modifier="chevron" ng-click="promptBuscarProveedor()">
                    <ons-icon icon="fa ion-arrow-graph-up-right fa-lg" style="font-size: 14px;">&nbsp;Proveedores</ons-icon>
                    <span class="list-item-note lucent">{{getProductoSeleccionado().proveedoresSel.length}} prov. sel.</span>
                </ons-list-item>

            </ons-list>

            <ons-dialog cancelable="true" var="dialogFiltroProveedor">
                <ons-toolbar inline>
                    <div class="center">
                        Proveedores
                    </div>
                </ons-toolbar>

                <ons-list ng-show="(getProveedores().length !== 0)">
                    <ons-list-item modifier="tappable" 
                                   ng-repeat="p in getProveedores()" 
                                   >
                        <label class="checkbox checkbox--list-item">
                            <input type="checkbox"
                                   ng-checked="getProductoSeleccionado().proveedoresSel.indexOf(p) > -1"
                                   ng-click="setProveedorSeleccionado($index)">
                            <div class="checkbox__checkmark checkbox--list-item__checkmark"></div>
                            {{p.proveedor}}
                        </label>
                    </ons-list-item>
                </ons-list>
                <ons-list ng-show="(getProveedores().length === 0)">
                    <ons-list-item modifier="tappable" ng-click="dialogFiltroProveedor.hide()">
                        No se encontraron resultados!
                    </ons-list-item>
                </ons-list>

                <p style="text-align: center;">
                <ons-button ng-click="dialogFiltroProveedor.hide()">
                    Ok
                </ons-button>
                </p>
            </ons-dialog>

        </form>
    </ons-page>
</ons-template>

