<ons-navigator var="app.navigator">
    <ons-page on-device-backbutton="app.navigator.popPage()" ng-controller="usuarioCtrl">

        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
            </div>
            <div class="center">
                {{getTituloMenu()}}
            </div>            
        </ons-toolbar>

        <div style="text-align: center" class="content-padded">
            <span ng-controller="usuarioCtrl">
                <ons-button modifier="large" ng-hide="isLogueado()"
                            ng-click="app.navigator.pushPage('login.html')"
                            style="width: 100%; margin-top: 10px;margin-bottom: 10px;">
                    <ons-icon icon="ion-log-in"></ons-icon>
                    Login
                </ons-button>
                <div id="clima">
                    <todays-weather
                        location=""
                        custom-size="100"
                        units="metric"
                        use-google-images="true">
                    </todays-weather>
                </div>
                <ons-row class="row ons-row-inner" style="text-align: center;margin-left: auto;padding-right: 10px;">
                    <ons-col class="col ons-col-inner" style="margin-left: 10px;">
                        <ons-list class="plan-list">
                            <ons-list-item modifier="chevron" class="plan" ng-repeat="noti in noticias" ng-click="abrirNoticia(noti.link)">
                                <ons-row>
                                    <ons-col width="80px" class="plan-left">
                                        <div class="plan-date">
                                            <span>{{formatDate(noti.pubDate) | date:'h:mm a'}}</span>
                                        </div>
                                    </ons-col>

                                    <ons-col width="6px" class="plan-center" ng-style="{backgroundColor: '#3399ff'}">
                                    </ons-col>

                                    <ons-col class="plan-right">
                                        <div class="plan-name"></div>

                                        <div class="plan-info">
                                            {{noti.title.__cdata}}
                                        </div>
                                    </ons-col>
                                </ons-row>
                            </ons-list-item>

                        </ons-list>
                    </ons-col>
                </ons-row>
                <ons-row class="row ons-row-inner" style="margin-left: 10px;padding-right: 10px;">
                    <ons-col class="col ons-col-inner">
                        <div style="text-align: center;margin-top: 10px;margin-bottom: 10px; color: #9c9c9c">
                            Desarrollado por <a href="http://www.agura.com.ar" target="blank">Agura Ing.</a>
                        </div>
                    </ons-col>
                </ons-row>
            </span>
        </div>
    </ons-page>
</ons-navigator>