<ons-page on-device-backbutton="app.navigator.popPage()" ng-controller="pedidoCtrl">
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center">Pedidos</div>
        <div class="right">
            <ons-toolbar-button ng-click="pedidos()">
                <ons-icon icon="ion-loop" 
                          fixed-width="false" 
                          style="vertical-align: -4px;">

                </ons-icon>
            </ons-toolbar-button>
            <ons-toolbar-button ng-click="promptBuscar()">
                <ons-icon icon="ion-search" 
                          fixed-width="false" 
                          style="vertical-align: -4px;">

                </ons-icon>
            </ons-toolbar-button>
            <ons-toolbar-button ng-click="adelanteEdicion()">
                <ons-icon icon="ion-plus-round" 
                          fixed-width="false" 
                          style="vertical-align: -4px;">

                </ons-icon>
            </ons-toolbar-button>
        </div>            
    </ons-toolbar>

    <ons-list>

        <ons-list-item modifier="chevron" class="list-item-container"
                       ng-repeat="ped in getPedidos()"
                       ng-click="editarVer($index)"
                       >
            <ons-row>
                <ons-col>
                    <div class="name">
                        Nº: {{ped.idPedido}}
                    </div>
                    <div class="name">
                        {{ped.idCliente.cliente}}
                    </div>
                    <div class="location">
                        <i class="fa fa-usd"></i> {{ped.total}}
                        <div style="margin-top: 5px;">
                            Estado: {{ped.estado}}
                        </div>
                    </div>
                </ons-col>
                <ons-col width="40px">

                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

</ons-page>
